.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: solid 1px;
    padding-bottom: 1rem;
}

.App {


    display: flex;
    flex-direction: column;


}

.App-content {

    flex: 1 1 0%;
}

.banner>img {}

.banner {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/0UECcInuCR4");

    /* Set a specific height */
    height: 100vh;
    ;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}