.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: solid 1px;
    padding-bottom: 1rem;
    align-items: center;
    position: relative;
}

.App {


    display: flex;
    flex-direction: column;


}

.App-content {

    flex: 1 1 0%;
}

.banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* align-items: center; */
    /* justify-content: center; */
}

.hero-1 {
    margin-bottom: 2rem 0;
}

.hero-image>img {
    width: 100%;
    height: auto;

    display: block;




    object-position: center;
    transition: 200ms transform ease-in-out;
}