.section-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: aliceblue;
}

.cart-container {

    background-color: aliceblue;
    width: 400px;
    z-index: 1000;
    height: 100vh;
    /* display: flex; */
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    overflow: scroll;
    padding-top: 1rem;
    padding-left: 1rem;
}

.cart-container.active {
    right: 0;
    transition: 250ms;
}


.cart-container>ul {
    list-style: none;
}