.section-header {
    position: relative;

    background-color: white;
}

.categories {

    position: absolute;
    width: 100%;
    top: 0%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    height: auto;
    left: 0;
    right: 0;
    z-index: -6;
}

.categories.active {
    border-top: 1px solid;
    top: 100%
}

.cart-container {

    background-color: aliceblue;
    width: 400px;
    z-index: 1000;
    height: 100vh;
    /* display: flex; */
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    overflow: scroll;
    padding-top: 1rem;
    padding-left: 1rem;
    overflow-x: hidden;
}

.cart-container.active {
    right: 0;
    transition: 250ms;
}


.cart-container>ul {
    list-style: none;
}